<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPIService" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
        <binding name="WOKMWSAuthenticateServiceSoapBinding" allowCookies="false" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
        <binding name="WokSearchServiceSoapBinding" allowCookies="false" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
        <binding name="WokSearchLiteServiceSoapBinding" allowCookies="false" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://academic.research.microsoft.com/Common/api/API.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAPIService" contract="MAS.IAPIService" name="BasicHttpBinding_IAPIService"/>
      <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate"
          binding="basicHttpBinding" bindingConfiguration="WOKMWSAuthenticateServiceSoapBinding"
          contract="WOKMWSAuthenticate.WOKMWSAuthenticate" name="WOKMWSAuthenticatePort" />
      <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WokSearch"
          binding="basicHttpBinding" bindingConfiguration="WokSearchServiceSoapBinding"
          contract="WokSearch.WokSearch" name="WokSearchPort" />
      <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WokSearchLite"
          binding="basicHttpBinding" bindingConfiguration="WokSearchLiteServiceSoapBinding"
          contract="WokSearchLite.WokSearchLite" name="WokSearchLitePort" />
    </client>
  </system.serviceModel>

  <connectionStrings>
    <add name="ATNEntities" connectionString="metadata=res://*/ATNModel.csdl|res://*/ATNModel.ssdl|res://*/ATNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INNDEV;Initial Catalog=ATN_test;Persist Security Info=True;User ID=ATN;Password=37$%$$H2{7,3Gx;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DataSourceObjectTranslations" value="1 =&gt; MASCrawler, 2 =&gt; WOKCrawler"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="fileTraceListenger"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="Processing.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
