/webUI/*.suo
/webUI/WebUI/bin/*.dll
/webUI/WebUI/bin/*.refresh
/adhoc/AdjacencyMatrixBuild/*.suo
/adhoc/AdjacencyMatrixBuild/AdjacencyMatrixBuild/obj
/adhoc/AdjacencyMatrixBuild/AdjacencyMatrixBuild/bin
/adhoc/ATNDatasetBuild/ATNDatasetBuild/obj/x86/Debug/*.cache
/adhoc/ATNDatasetBuild/ATNDatasetBuild/obj
/adhoc/ATNDatasetBuild/ATNDatasetBuild/bin
