<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WOKMWSAuthenticateServiceSoapBinding" allowCookies="false" />
                <binding name="WokSearchServiceSoapBinding" allowCookies="false" />
                <binding name="WokSearchLiteServiceSoapBinding" allowCookies="false" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate"
                binding="basicHttpBinding" bindingConfiguration="WOKMWSAuthenticateServiceSoapBinding"
                contract="WOKMWSAuthenticate.WOKMWSAuthenticate" name="WOKMWSAuthenticatePort" />
            <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WokSearch"
                binding="basicHttpBinding" bindingConfiguration="WokSearchServiceSoapBinding"
                contract="WokSearch.WokSearch" name="WokSearchPort" />
            <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WokSearchLite"
                binding="basicHttpBinding" bindingConfiguration="WokSearchLiteServiceSoapBinding"
                contract="WokSearchLite.WokSearchLite" name="WokSearchLitePort" />
        </client>
    </system.serviceModel>
</configuration>