<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPIService" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="WOKMWSAuthenticateServiceSoapBinding" allowCookies="false" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="WokSearchServiceSoapBinding" allowCookies="false" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="WokSearchLiteServiceSoapBinding" allowCookies="false" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WOKMWSAuthenticate" binding="basicHttpBinding" bindingConfiguration="WOKMWSAuthenticateServiceSoapBinding" contract="WOKMWSAuthenticate.WOKMWSAuthenticate" name="WOKMWSAuthenticatePort" />
        <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WokSearch" binding="basicHttpBinding" bindingConfiguration="WokSearchServiceSoapBinding" contract="WokSearch.WokSearch" name="WokSearchPort" />
        <endpoint address="http://search.isiknowledge.com/esti/wokmws/ws/WokSearchLite" binding="basicHttpBinding" bindingConfiguration="WokSearchLiteServiceSoapBinding" contract="WokSearchLite.WokSearchLite" name="WokSearchLitePort" />
      </client>
    </system.serviceModel>
  <connectionStrings>
    <add name="ATNTest" connectionString="metadata=res://*/ATNModel.csdl|res://*/ATNModel.ssdl|res://*/ATNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INNDEV;Initial Catalog=ATN_testTest;Persist Security Info=True;User ID=ATN;Password=37$%$$H2{7,3Gx;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ATNEntities" connectionString="metadata=res://*/ATNModel.csdl|res://*/ATNModel.ssdl|res://*/ATNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INNDEV;Initial Catalog=ATN_testTest;Persist Security Info=True;User ID=ATN;Password=37$%$$H2{7,3Gx;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
