<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPIService" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://academic.research.microsoft.com/Common/api/API.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAPIService" contract="MAS.IAPIService" name="BasicHttpBinding_IAPIService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ATNEntities" connectionString="metadata=res://*/Persistence.ATNModel.csdl|res://*/Persistence.ATNModel.ssdl|res://*/Persistence.ATNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INNDEV;Initial Catalog=ATN;Persist Security Info=True;User ID=ATN;Password=37$%$$H2{7,3Gx;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>