<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="ATNEntities" connectionString="metadata=res://*/ATNModel.csdl|res://*/ATNModel.ssdl|res://*/ATNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INNDEV;Initial Catalog=ATN_new;Persist Security Info=True;User ID=ATN;Password=37$%$$H2{7,3Gx;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ATNTest" connectionString="metadata=res://*/ATNModel.csdl|res://*/ATNModel.ssdl|res://*/ATNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INNDEV;Initial Catalog=ATNTest;Persist Security Info=True;User ID=ATN;Password=37$%$$H2{7,3Gx;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DataSourceObjectTranslations" value="1 =&gt; MASCrawler"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="ProcessingListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Processing.log"/>
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
